<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160319002-UIGestureRecognizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D50411EC1C9D6F5400A6F585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D50412051C9D6F5400A6F585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D50412101C9D6F5400A6F585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
